//@include font (35px,light,red)
//@extend %btn

//@font-face 
//  font-family: OrelegaOne
//  src: url("../fonts/OrelegaOne-Regular.ttf")
//

@import "colors"
@import "fonts"
@import "extends"
@import "vars"
@import "base"
@import "classes"
@import "media"
@import "mixins"

.wrapper
  header
    .header
      //align-items: center
      .color-line
        grid-row: 1
        grid-column: 1/4
        height: 30px
        background-color: $marine
      .header-lines
        grid-row: 1
        grid-column: 2
        align-items: center
        .top-header-line
          grid-column: 8/13
          grid-row: 1
          display: flex
          justify-content: end
          align-items: center
          .first-vert-line
            min-width: 1px
            height: 30px
            background-color: $white-50
            margin-right: 60.5px
          .map
            background: url("../../img/footer-map.svg") no-repeat center center
            min-width: 12px
            height: 20px
            color: $white
            margin-right: 10px
          .map-city
            display: inline-block
            min-width: 34px
            min-height: 17px
            margin: 1.5px 72.5px 1.5px 0
            line-height: 17px
            @include Text-Style-4()
          .second-vert-line
            margin-right: 39px
            min-width: 1px
            height: 30px
            background-color: $white-50
          .personal-cab
            min-width: 112px
            height: 17px
            margin: 6.5px 39px 6.5px 0
            @include Text-Style-14()
          .third-vert-line
            min-width: 1px
            height: 30px
            background-color: $white-50
            @media (max-width: 1220px)
              grid-column: 4/13
            @media (max-width: 950px)
              grid-column: 1/13
              justify-self: center
          @media (max-width: 946px)
            grid-column: 1/13
            justify-content: center

        .logo
          grid-row: 2
          grid-column: 1/span 2
          width: 72px
          height: 30px
          background-color: $marine
          background: url("../../img/footer-logo.svg") no-repeat center center
          @media (max-width: 1300px)
            margin: 15px 0
          @media (max-width: 950px)
            grid-column: 1/13
            justify-self: center
            grid-row: 2
            margin: 15px 0 0 0
        .nav
          grid-row: 2
          grid-column: 4/ span 5
          display: flex
          min-width: 445px

          @media (max-width: 1300px)
            grid-column: 1/ span 5
            grid-row: 3
            //padding-bottom-bottom: 15px
          @media (max-width: 950px)
            grid-column: 1/13
            justify-self: center
            grid-row: 5
            margin: 0 0 10px 0
          div
            height: 19px
            margin: 0 34.7px 0 0
            @include Text-Style()
            &:nth-of-type(3)
              min-width: 141px
            &:nth-of-type(4)
                margin-right: 0
          @media (max-width: 600px)
            flex-direction: column
            align-items: center
            > div
              margin: 0 0 15px 0

        .contact-block
          grid-row: 2
          grid-column: 10/ span 3
          justify-self: end
          width: 256px
          height: 80px
          background-color: $grapefruit
          padding: 18px 37px
          .phone-icon
            display: inline-block
            width: 18.4px
            height: 16.6px
            background: url("../../img/header-phone.svg") no-repeat center center
          .phone-number
            width: 153px
            height: 20px
            margin: 0 0 0 10.6px
            @include Text-Style-3()
          .terms
            width: 132px
            height: 14px
            margin: 10px 25px 0
            @include Text-Style-2()
          @media (max-width: 1300px)
            grid-row: 2/4
          @media (max-width: 1220px)
            grid-column: 6/ 13
          @media (max-width: 950px)
            grid-column: 1/13
            //grid-row: 3
            margin: 15px 0
            justify-self: center
            grid-row: 4
            //margin: 0 0 10px 0
          @media (max-width: 580px)
            //flex-direction: column
            //align-items: center
            > div
              //margin: 10px 0 10px 0
              width: auto
  main
    .section-1
      background-color: $pinkish-grey
      .main-container
        grid-column: 2
        margin: 85.5px 0 170.5px 0
        width: 605px
        height: 329px
        padding: 56px 57px 66px
        box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.2)
        background-color: $white-92
        display: flex
        flex-direction: column
        .main-cont-description
          height: 35px
          margin: 0 0 20px 0
          @include Text-Style-5()
          @media (max-width: 590px)
            padding: 0 0 80px 0
            display: block
            text-align: center
            width: 60%
        > p
          width: 491px
          flex-grow: 0
          margin: 20px 0
          @include Text-Style()
          @media (max-width: 590px)
            width: 60%
        > a
          width: 243px
          height: 59px
          margin: 20px 0 0 0
          padding: 18.5px 76.5px
          border-radius: 10px
          background-color: $grapefruit
          span
            width: 90px
            height: 22px
            @include Text-Style-15()
          @media (max-width: 590px)
            margin-bottom: 40px
        @media (max-width: 946px)
          justify-self: center
          margin-bottom: 85.5px
          align-items: center !important
        @media (max-width: 590px)
          grid-column: 2
      @media (max-width: 590px)
        display: grid
        grid-template-columns: 11.45833333333333%  77.11805555555556%  11.43055555555556%


    .section-2
      .sec-2-description
        grid-column: 2
        height: 37px
        margin: 70px 111px 30px
        justify-self: center
        @include Text-Style-6()
        @media (max-width: 531px)
          margin-bottom: 80px
      .sec-2-main
        grid-column: 2
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr))
        grid-gap: 20px 30px
        justify-items: center
        .sec-2-container
          display: flex
          flex-direction: column
          max-width: 350px
          min-height: 551px
          padding: 12px 42.4px 31.5px 42.6px
          box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.2)
          background-color: $white
          .cont-code
            height: 20px
            margin-bottom: 9px
            @include Text-Style-7()
          .cont-description
            width: 262px
            height: 40px
            margin-bottom: 8px
            @include Text-Style-8()
          .star-block
            margin-bottom: 8px
            display: flex
            .stars
              display: flex
              min-width: 80px
              align-items: center

              div
                min-width: 12px
                min-height: 10px
                @include stars(4)
                &:last-of-type
                    background: url("../../img/main-star-empty.svg") no-repeat center
                    background-size: 100% 100%
            .review
              min-height: 10px
              min-width: 94px
              margin: 0 0 0 15px
              @include Text-Style-7()
          .cont-picture
            width: 264px
            height: 264px
            margin: 0 0 28px 1px
            padding: 0 204px 234px 0
            background-color: $pinkish-grey
            position: relative
            .pic-label
              position: absolute
              z-index: 1
              min-width: 60px
              min-height: 30px
              //transform: rotate(-90deg)
              background: url("../../img/main-flag-yellow.svg") no-repeat center center
          .price
            height: 20px
            margin: 0 0 28px 1px
            @include Text-Style-9()
          a
            width: 180px
            height: 50px
            margin: 0 0 12.5px 1px
            padding: 14px 61px 17px 61px
            border-radius: 10px
            background-color: $grapefruit
            span
              width: 58px
              height: 19px
              @include Text-Style-10()
          form
            display: flex
            position: relative
            label
              height: 10px
              flex-grow: 0
              margin: 0 0 0 8.3px
              @include Text-Style-11()
              padding-left: 8.3px
              &::before
                content: ""
                display: block
                width: 11px
                height: 10px
                border: 1px solid $marine
                position: absolute
                left: 0
                top: 0
                z-index: 1
              &::after
                content: ""
                display: block
                width: 11px
                height: 10px
                position: absolute
                left: 0
                top: 0
                z-index: 2
                opacity: 0
                background: url("../../img/main-checkbox-checked.svg") no-repeat 2px center
                background-size: 100% 100%
            .checkbox
              appearance: none
              &:checked + label::after
                opacity: 1
          @media (max-width: 946px)
            align-items: center
        //@media (max-width: 920px)
        //  align-items: center
      @media (max-width: 1439px)
        grid-column-gap: 20px
      @media (max-width: 1439px)
        grid-column-gap: 10px
  footer
    background-color: $marine
    .footer
      grid-column: 1/3
      padding: 53px 0 52px 120px
      display: grid
      grid-template-columns: repeat(2,minmax(113px,1fr))
      .footer-main
        display: flex
        > div
          max-height: 153px
          display: flex
          flex-direction: column
          justify-content: space-between
          @include Text-Style-12()
        .footer-1-adv
          min-width: 322px
        .footer-2-cont
          min-width: 425px
          .contacts
            margin-bottom: 17px
          .tel, .schedule
            margin-bottom: 6px
        .footer-3-blog
          min-width: 295px
        @media (max-width: 1386px)
          grid-column: 1/3
          justify-self: center
          grid-row: 1
        @media (max-width: 1200px)
          flex-wrap: wrap
          justify-content: space-between
          width: 100% !important
          > div
            min-width: auto  !important
            > span, p
              min-width: auto !important
        @media (max-width: 920px)
          flex-direction: column
          > div
            margin-top: 30px
      .footer-4-soc
        max-height: 153px
        display: flex
        justify-content: space-between
        @include Text-Style-12()
        min-width: 113px
        justify-self: end
        align-self: start
        a
          min-width: 16px
          min-height: 20px
        .yt
          background: url("../../img/footer-youtube.svg") center
          background-size: 100% 100%
        .inst
          background: url("../../img/footer-insta.svg") center
          background-size: 100% 100%
        .fb
          background: url("../../img/footer-fb.svg") center
          background-size: 100% 100%
        @media (max-width: 1386px)
          padding-right: 0px
          padding-left: 0px
          grid-column: 2
        @media (max-width: 1386px)
          grid-row: 1
          grid-column: 1/3
        @media (max-width: 1200px)
          grid-row: 2
          grid-column: 1/3
          justify-self: center !important
          margin: 30px 0 0 0
        @media (max-width: 920px)
          grid-row: 1
          grid-column: 2
        @media (max-width: 525px)
          grid-row: 2
          grid-column: 1/3
          justify-self: center !important
          margin-top: 30px






















































